{% extends 'base.html.twig' %}

{% block title %}{% trans %}Log in!{% endtrans %}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            <div class="title">{% trans %}Already connected{% endtrans %}</div>
            <div class="media" style="margin-top: 20px;">
            <p>{% trans %}No required permissions{% endtrans %}</p>
            <p>{% trans %}To go back click, on the next button{% endtrans %} <input type="button" class="btn btn-success" value={% trans%}back{% endtrans %} onclick="history.go(-1)"/></p>
            <br><br>
            <p>{% trans %}You are logged in as{% endtrans %} {{ app.user.username }}, {% trans %}you can click{% endtrans %} <a href="{{ path('app_logout') }}" class="button btn btn-default">{% trans %}here{% endtrans %}</a> {% trans %} to logout.{% endtrans %}</p>
        </div>
    {% else %}

    <div class="title">{{'Please sign in'|trans}}</div>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html   
    #}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me">{% trans %}Remember me{% endtrans %}
            </label>
        </div>

    <button class="btn btn-lg btn-primary" type="submit">{% trans %}Sign in{% endtrans %}</button>
    
    {% endif %}
</form>

<div class="afficher-route">
	<p>({% trans %}English{% endtrans %})
		{% trans %}Carpooling{% endtrans %}
		→
		{% trans %}Log in{% endtrans %}
</p>
</div>



{% endblock %}
