{% extends 'base.html.twig' %}

{% block title %}{% trans %}Became a member{% endtrans %} |  {{ parent() }}{% endblock %}

{% block body %}
<style>
    .row{
        margin-left: 25%;
    }
</style>
    <div class="title">{% trans %}Create your account{% endtrans %}</div>
    {{ form_start(form) }}

    {{ form_row(form.nom, {'label': 'Nom', 'attr': {'placeholder': 'Votre nom ...'}}) }}
    {{ form_row(form.prenom, {'label': 'Prenom', 'attr' : {'placeholder': 'Votre prénom ...'}}) }}
    {{ form_row(form.pseudo, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Pseudo visible sur le site'}}) }}
    {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Votre email ...' }}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Votre mot de passe ...'}}) }}
    {{ form_row(form.password_confirm, {'label': 'Confirmer mot de passe', 'attr': {'placeholder': 'Répétez votre mot de passe' }}) }}
    {{ form_row(form.sexe) }}
    {{ form_row(form.annee_naissance)}}
    {{ form_row(form.roles) }}

    <button type="submit" class="btn btn-success">{{'Registration'|trans}}</button>

    {{ form_end(form)}}

<div class="afficher-route">
	<p>({% trans %}English{% endtrans %})
		{% trans %}Carpooling{% endtrans %}
		→
		{% trans %}Registration{% endtrans %}
    </p>
</div>



{% endblock %}
