{% extends 'base.html.twig' %}

{% block title %}{% trans %}Delete user{% endtrans %}| {{ parent() }}{% endblock %}

{% block body %}
<style>
    .user-delete{
        color:black;
    }
</style>

<div class="title">{% trans %}Delete a user{% endtrans %}</div>
<div class="media"></div>
    <div class="alert alert-danger" style="color:black;">
        <strong>{% trans %}Carefull{% endtrans %} !</strong> {% trans %}You are going to delete this user {% endtrans %} :
        <ul>
            <li class="user-delete"><strong>{% trans %}Lastname{% endtrans %} : </strong> {{ user.Nom }}</li>
            <li class="user-delete"><strong>{% trans %}Pseudo{% endtrans %} : </strong>{{ user.Pseudo }}</li>

        </ul>
    </div>
    <div class="collapse navbar-collapse">
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
        <a href="{{ path('admin_utilisateurs') }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>{% trans %}Cancel{% endtrans %}</a>
        <button type="submit" class="btn btn-danger" onclick="return confirm('{% trans %}Are you sure{% endtrans %} ??')">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        {% trans %}Delete{% endtrans %}
    </button>
    {{ form_end(form) }}
    </div>

<div class="afficher-route">
	<p>({% trans %}English{% endtrans %})
		{% trans %}Carpooling{% endtrans %}
		→
		{% trans %}Administration{% endtrans %}
		→
		{% trans %}Delete user{% endtrans %}</p>
</div>


{% endblock %}