{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs | {{ parent() }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1>Liste des utilisateurs</h1>
    <table class="table" style="text-align : center;">
        <thead>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">Email</th>
            <th style="text-align: center;">Rôles</th>
            <th style="text-align: center;">Actions</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_ADMIN" %} 
                                Administrateur
                            {% elseif role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_EDITOR" %}
                                Éditeur 
                            {% elseif role == "ROLE_MODO" %}
                                Modérateur 
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}"
                        class="btn-warning">Modifier</a>
                        <a href="{{ path('admin_delete', {'id': user.id}) }}"
                        class="btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=5>Il n'y a pas d'utilisateur inscrit</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}