{% extends 'base.html.twig' %}

{% block title %}Recherche trajet | {{ parent() }}{% endblock %}

{% block body %}

    <style>
        .row{
            margin-left: 25%;
        }
    </style>
    
    <h1>Recherche avancée</h1><br>

    <div class="section">
        <div class="col m6 offset-m3">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">{{ form_row(form.ville_depart) }}</div>
                <div class="col-md-4">{{ form_row(form.ville_arrivee) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ form_row(form.date_depart) }}</div>
                <div class="col-md-4">{{ form_row(form.heure_depart) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ form_row(form.nb_places) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ form_row(form.maximum_price) }}</div>
            </div>
            <div class="row">
                <div class="form-group" style="margin-left:2%;">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
        {% if app.request.method == 'POST' %}
        <div class="row">
            <div class="col m6 offset-m3">
                {% if trajets |length == 0 %}
                    <h1>Aucun résultat pour votre recherche</h1>
                {% else %}
                    <h1>Résultat de la recherche</h1>
                    {% for trajet in trajets %}
                        <div>
                            <h2>Ville de départ : {{ trajet.VilleDepart }}</h2>
                            <h2>Ville d'arrivée : {{ trajet.VilleArrivee }}</h2>
                            <h2>Heure de départ : {{ trajet.HeureDepart|date('h:i:s') }}</h2>
                            <h2>Heure d'arrivée : {{ trajet.HeureArrivee|date('h:i:s') }}</h2>
                            {% if trajet.NbPlaces |length > 0 %}
                                <h2>Nombre de places disponibles : {{ trajet.NbPlaces }}</h2>
                            {% elseif trajet.NbPlaces |length == 0  %}
                                <h2>Nombre de place disponible : {{trajet.NbPlaces }}</h2>
                            {% endif %}
                            <h2>Prix du voyage : {{trajet.Prix }}</h2>
                            <h2><a class="btn btn-primary btn-lg" href="{{  path('trajet.show', {'slug': trajet.slug}) }}">Détails</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

    {% endblock %}