{% extends 'base.html.twig' %}

{% block title %}Recherche de trajet | {{ parent() }}{% endblock %}

{% block body %}

    <style>
        .row{
            margin-left: 25%;
        }
        
    </style>
    
    <div class="title">{% trans %}Advanced search{% endtrans %}</div><br>
    <div class="container">

        <div class="section">
            <div class="col m6 offset-m3">
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-md-4">{{ form_row(form.ville_depart, {'label': 'Departure city', 'attr': {'placeholder': 'Ville de départ ...'}}) }}</div>
                    <div class="col-md-4">{{ form_row(form.ville_arrivee, {'label': 'Arrival city', 'attr': {'placeholder': 'Ville d\'arrivée ...'}}) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.nb_places, {'label': 'Nombre de places', 'attr': {'placeholder': 'Combien de places ...'}}) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.maximum_price, {'label': 'Prix maximum'}) }}</div>
                </div>
                <div class="row">
                    <div class="form-group" style="margin-left:2%;">
                        <button type="submit" class="btn btn-primary" style="">Submit</button>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-4"><a class="btn btn-success" href="{{ path('search.trajet_bydate') }}"><i class="fa fa-calendar" style='font-size:15px; margin-right:5px;'></i>{% trans %}Filter by date{% endtrans %}</a></p>
                </div>
                
                <div style="visibility:hidden;">
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.date_depart) }}</div>
                    <div class="col-md-4">{{ form_row(form.heure_depart) }}</div>
                </div>
                </div>
                {{ form_end(form) }}



            </div>
            {% if app.request.method == 'POST' %}
            <div class="row">
                <div>
                    <div class="container-fluid">
                        <div class="line">
                            <i class='fa-caret-square-o-down' style='font-size:100px;'></i>
                        </div>
                    </div>
                    <br>
                    {% if trajets |length == 0 %}
                        <p class="titre" style="margin-right:35%;">
                            <i class="fa fa-sort" style='font-size:110px;'></i>
                        </p><br>
                        <div class="title" style="margin-left:-40%; font-size: 35px;">{% trans %}There is no result wich match your search{% endtrans %}</div>
                    {% else %}
                    <p class="titre" style="margin-right:35%;"><i class="fa fa-sort" style='font-size:130px;'></i>{% trans %} {% endtrans %}</p>
                        {% for trajet in trajets %}
                                <div class="col-sm-3 col-md-4 col-lg-4">
                                    <div class="block">
                                        <div class="block-body">
                                            <br>
                                            </p><i class="fa fa-car" style='font-size:20px; margin-left:45%;'></i></p>
                                            <p>{% trans %}Departure city{% endtrans %} : {{ trajet.VilleDepart }}</p>
                                            <p>{% trans %}Arrival city{% endtrans %} : {{ trajet.VilleArrivee }}</p>
                                            <p>{% trans %}Departure time{% endtrans %} : {{ trajet.HeureDepart|date('h:i:s') }}</p>
                                            <p>{% trans %}Arrival time{% endtrans %} : {{ trajet.HeureArrivee|date('h:i:s') }}</p>
                                            {% if trajet.NbPlaces |length > 0 %}
                                                <p>{% trans %}Available places{% endtrans %} : {{ trajet.NbPlaces }}</p>
                                            {% elseif trajet.NbPlaces |length == 0  %}
                                                <p>{% trans %}Available place{% endtrans %} : {{trajet.NbPlaces }}</p>
                                            {% endif %}
                                            <p>{% trans %}Travel price{% endtrans %} : {{trajet.Prix }}</p>
                                            <p><a class="btn btn-primary btn-lg" href="{{  path('trajet.show', {'slug': trajet.slug}) }}">{% trans %}Details{% endtrans %}</a>
                                            <a class="btn btn-primary btn-lg" href="{{ path('trajet_reservation', {'slug': trajet.slug}) }}">{% trans %}Book a place{% endtrans %}</a>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endif %}

        </div>
    </div>

<div class="afficher-route"><br><br>
	<p>({% trans %}English{% endtrans %})
		{% trans %}Carpooling{% endtrans %}
		→
		{% trans %}Search{% endtrans %}
    </p>
</div>



    {% endblock %}