<!DOCTYPE html>
<html>
    <title>{% block title %}Besoin d'un covoiturage ?{% endblock %}</title>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.0.js"></script>
        
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    </head>


    {% block javascript %}
        
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        
        <script type="text/javascript">

        $(document).ready(function(){           
            $('#fixed-form-container .body').hide();
            $('#fixed-form-container .button').click(function () {
                    $(this).next('#fixed-form-container div').slideToggle(400);
                    $(this).toggleClass("expanded");
            });
        });
        </script>
        
    {% endblock %}

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <uL>
                <div class="marge">
                    <li><a href="{{ path('home') }}" class="lien_left"><i class="fa fa-home" style='font-size:20px; margin-right:5px;'></i>{% trans %}Home{% endtrans %}</a></li>
                    <li><a href="{{ path('trajet.list') }}" class="lien_left"><i class="fa fa-car" style='font-size:15px; margin-right:5px;'></i>{% trans %}Available routes{% endtrans %}</a></li>
                    <li><a href="{{ path('search.trajet') }}" class="lien_left"><i class="fa fa-search" style='font-size:15px; margin-right:5px;'></i>{% trans %}Search{% endtrans %}</a></li> 
                    <li><a href="{{ path('trajet.create') }}" class="lien_left"><i class="fa fa-plus" style='font-size:15px; margin-right:5px;'></i>{% trans %}Suggest a route{% endtrans %}</a></li>
                    <li><a href="#" class="lien_left"><i class='far fa-comment' style='font-size:15px; margin-right:5px;'></i>{% trans %}Contact us{% endtrans %}</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="#" class="lien_left"><i class="fa fa-user" style='font-size:15px; margin-right:5px;'></i>{% trans %}Private space{% endtrans %}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('app_logout') }}" class="lien_right">{% trans %}Sign out{% endtrans %}</a></li>
                    {% else %}
                        <li><a href="{{ path('membre_create') }}" class="lien_right">{% trans %}Registration{% endtrans %}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                    {% else %}
                        <li><a href="{{ path('app_login') }}" class="lien_right">{% trans %}Sign in{% endtrans %}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_administration') }}" class="lien_right">{% trans %}Administration{% endtrans %}</a></li>
                    {% endif %}
                    {% for locale in locales if locale != app.request.locale %}
                        <li class="nav item activ">
                            <a class="lien_right" href="{{ path('change_locale', {'locale' : locale}) }}"><img src="{{ asset('img/'~locale~'.png') }}" alt="{{locale}}" style="height:26px;"></a>
                        </li>
                    {% endfor %}
                </div>
            </ul>
        </div>
    </nav>

    <section id="fixed-form-container">
        <div class="button">Contactez-nous!</div>
            <div class="body">
                <h3>Bienvenue au service client de Blabla Car</h3>
                <div class="form-group">
                    {% if is_granted('ROLE_USER') %}
                        <p>Service disponible entre 9h-12h et 13h/18h, tous les jours sauf le dimanche</p>
                        <p><label for="pwd">Envoyez votre message, un technicien répondra au plus vite</label></p>
                        <form name="message" action="">
                            <input name="usermsg" type="text" id="usermsg" style="overflow: scroll;" size="40" />
                            <input name="submitmsg" type="submit"  id="submitmsg" value="Envoyez" />
                        </form>
                    {% else %}
                        <p>Pour parler à nos agents, veuillez vous connecter ou envoyez-nous un e-mail à blablacar@bcar.fr</p>
                        <label for="pwd">E-mail:</label>
                        <input type="email" class="form-control" id="email">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
    <div class="container">

        {% block body %}

        {% endblock %}
    </div>



</body>
</html>