<!DOCTYPE html>
<html>

    <title>{% block title %}Covoiturages{% endblock %}</title>

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


        <link rel="stylesheet" type="text/css" href="{{ asset('css/style_sombre.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles_light.css') }}" id="theme-link">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/serviceclient.css') }}">

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.0.js"></script>



    </head>

<body>  
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <uL>
                <div class="marge">
                    <li><a href="{{ path('home') }}" class="lien_left"><i class="fa fa-home" style='font-size:20px; margin-right:5px;'></i>{{'Home'|trans}}</a></li>
                    <li><a href="{{ path('trajet.list') }}" class="lien_left"><i class="fa fa-car" style='font-size:15px; margin-right:5px;'></i>{{'Available routes'|trans}}</a></li>
                    <li><a href="{{ path('search.trajet') }}" class="lien_left"><i class="fa fa-search" style='font-size:15px; margin-right:5px;'></i>{% trans %}Search{% endtrans %}</a></li> 
                    <li><a href="{{ path('trajet.create') }}" class="lien_left"><i class="fa fa-plus" style='font-size:15px; margin-right:5px;'></i>{% trans %}Suggest a route{% endtrans %}</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('membre_profil') }}" class="lien_left"><i class="fa fa-user" style='font-size:15px; margin-right:5px;'></i>{% trans %}Profile{% endtrans %}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('app_logout') }}" class="lien_right">{% trans %}Sign out{% endtrans %}</a></li>
                    {% else %}
                        <li><a href="{{ path('membre_create') }}" class="lien_right">{% trans %}Registration{% endtrans %}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                    {% else %}
                        <li><a href="{{ path('app_login') }}" class="lien_right">{% trans %}Sign in{% endtrans %}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_administration') }}" class="lien_right">{% trans %}Administration{% endtrans %}</a></li>
                    {% endif %}
                    {% for key, locale in locales if key != app.request.locale %}
                        <li class="nav item activ">
                            <a class="lien_right" title="{% trans %}Change language{% endtrans %}" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': key})) }}"><img src="{{ asset('img/'~key~'.png') }}" alt="{{locale}}" style="height:24px;">  </a>
                        </li>
                    {% endfor %}
                </div>
            </ul>
        </div>
    </nav>

    <section id="fixed-form-container">
        <div class="button">
            <i class='far fa-comment' style='font-size:15px; margin-right:5px;'></i>
            {% trans %}Contact us{% endtrans %}
            !</div>
        <div class="body">
            <h3>Bienvenue au service client de Blabla Car</h3>
            <div class="form-group">
                {% if is_granted('ROLE_USER') %}
                    <p>Service disponible entre 9h-12h et 13h/18h, tous les jours sauf le dimanche</p>
                    <p>
                        <label for="pwd">{% trans %}Envoyez votre message, un technicien répondra au plus vite{% endtrans %}</label>
                    </p>
                    <form name="message" action="">
                        <input name="usermsg" type="text" id="usermsg" style="overflow: scroll;" size="40"/>
                        <input name="submitmsg" type="submit" id="submitmsg" value="Envoyez"/>
                    </form>
                {% else %}
                    <p>{% trans %}Pour parler à nos agents, veuillez vous connecter ou envoyez-nous un e-mail à blablacar@bcar.fr{% endtrans %}</p>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox">
                        <label><input type="checkbox">{% trans %}Memorize{% endtrans %}</label>
                    </div>
                    <button type="submit" class="btn btn-default">{% trans %}Submit{% endtrans %}</button>
                </div>
            {% endif %}
        </div>
    </section>

    <footer class="footer">
      <div class="container">
      <br><br><br>
        <p class="text-muted">{% trans %}Plus besoin d'aller en ville pour quitter la ville : nous mettons en relation passagers et conducteurs prêts à partager leur trajet en voiture pour leur permettre d'aller partout, et sans changement.{% endtrans %} - <span id="theme">Thème clair</span></p>
        <div class="footer-location">
            <p class="footer-adress-titre">{% trans %}Location{% endtrans %}</p>
            <p class="footer-adress-rue">45, rue des champs saints</p>
            <p class="footer-adress-code-postal">95 000 PARIS</p>
            <p class="footer-adress-telephone"><i class='fa fa-phone' style='font-size:15px; margin-right:5px;'></i>09 45 12 74 15</p>
        </div>
      </div>
    </footer>
    
    <div class="container">

        {% block body %}

        
        {% endblock %}
    </div>
</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/theme.min.js') }}"></script>




</html>