{% extends 'base.html.twig' %}

{% block title %}{% trans %}Modify a travel{% endtrans %} | {{ parent() }}{% endblock %}

{% block body %}

    <div class="title">{% trans %}Update informations of your travel{% endtrans %}</div><br>

    <div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form.ville_depart) }}</div>
            <div class="col-md-4">{{ form_row(form.ville_arrivee) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ form_row(form.heure_depart) }}</div>
            <div class="col-md-4">{{ form_row(form.heure_arrivee) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ form_row(form.nb_places) }}</div>
            <div class="col-md-4">{{ form_row(form.prix) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ form_row(form.description) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ form_row(form.date_creation) }}</div>
            <div class="col-md-4">{{ form_row(form.date_expiration) }}</div>
        </div>
    </div>

    {{ form_widget(form) }}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
    </div>

    {{ form_end(form) }}

<div class="afficher-route">
	<p>({% trans %}English{% endtrans %})
		{% trans %}Carpooling{% endtrans %}
		→
		{% trans %}Travels{% endtrans %}
		→
		{% trans %}Edit{% endtrans %}</p>
</div>



{% endblock %}