{% extends 'base.html.twig' %}

{% block title %}Liste trajets | {{ parent() }}{% endblock %}
    {% block head %}
    
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% endblock head %}

    {% block javascripts %}
{% endblock %}

{% block body %}

    <style>
        .block{
            width:92%;
	        height:100%;
            border-color: red;
            margin-top: 10px;
            border: 4px double;
        }
    </style>

    <div class="title">{% trans %}Lasts routes created{% endtrans %}</div>
    <div class="media" style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                {% for trajet in trajets %}
                    <div class="col-sm-3 col-md-4 col-lg-4">
                        <div class="block">
                            <div class="block-body">
                                <h5 style="text-align:center;">
                                    <a href="{{ path('trajet.show', {'slug': trajet.slug}) }}">{{ trajet.VilleDepart }} - {{ trajet.VilleArrivee }}</a>
                                </h5>
                                <p class="text-time">{% trans %}Departure time{% endtrans %} : {{ trajet.HeureDepart|date('h:i:s') }}</p>
                                <p class="text-time">{% trans %}Departure arrival{% endtrans %} : {{ trajet.HeureArrivee|date('h:i:s') }}</p>
                                <p class="text-default"><strong>{{ trajet.NbPlaces }}</strong> {% trans %} places availables {% endtrans %}</p>
                                <p class="card-text">{{ trajet.Prix|number_format(0, '', '') }}.00 €</p>
                                <p class="text-info" style="color:white;">{% trans %}Expire on{% endtrans %} {{ trajet.DateExpiration|date('d/m/Y') }}</p>
                                <p class="card-button">
                                    <a class="btn btn-success" href="{{ path('trajet.show', {'slug': trajet.slug}) }}">{% trans %}Show informations{% endtrans %}</a>
                                    {% if is_granted("ROLE_USER") %}
                                        <a class="btn btn-warning" href="{{ path('trajet.edit',{ 'slug': trajet.slug }) }}">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            {% trans %}Edit{% endtrans %}</a>
                                    {% endif %}
                                    <a class="btn btn-primary" href="{{ path('trajet_reservation', {'slug': trajet.slug}) }}">{% trans %}Book a place{% endtrans %}</a>
                                    {% if is_granted("ROLE_USER") %}
                                        <a class="btn btn-danger" href="{{ path('trajet.delete',{ 'slug':trajet.slug }) }}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        {% trans %}Delete{% endtrans %}</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

<div class="afficher-route"><br><br>
	<p>({% trans %}English{% endtrans %})
		{% trans %}Carpooling{% endtrans %}
		→
		{% trans %}List of travels{% endtrans %}
    </p>
</div>



{% endblock %}